.sound_div{
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 50%;
  transition: all 0.3s linear;
  border: none;
  cursor: pointer;
}

.sound_div:hover{
  background-color: rgba(255, 255, 255, 0.7)
}