.main_fixed_image {
  background-image: url("../../media/images/fixed/d59aab3a-0334-4bc8-bb89-2bc7c0409d6b.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
