.main_fixed_image {
  background-image: url("../../media/images/fixed/d59aab3a-0334-4bc8-bb89-2bc7c0409d6b.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  .main_opacity {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
  }
  .invite_title {
    color: azure;
    text-align: center;
    max-width: 440px;
    margin: auto;
    padding: 40px 20px;
    font-size: 25px;
    line-height: 42px;
  }
}
